@import "tailwindcss";

@plugin "daisyui" {
    /* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
    themes: light --default, dark --prefersdark, lofi;
}

.h1 {
  @apply text-4xl font-bold text-primary mb-4;
}

.h2 {
  @apply text-2xl font-bold text-primary mb-4;
}

/*
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
*/
